<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/img/icono.jpeg">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/styles.css">
   <title>Conoce Sobre Nosotros</title>
</head>
<body>
   <!-- Sección de encabezado -->
   <header class="site-header">
      <div class="contenedor contenido-header">
         <div class="barranav">
            <a href="/"><img src="/img/logo.svg" alt="Logotipo de Bienes Raíces"></a>
            <nav class="navegacion">
               <a href="/views/aboutus.html">Nosotros</a>
               <a href="/views/anuncios.html">Anuncios</a>
               <a href="/views/blog.html">Blog</a>
               <a href="/views/contact.html">Contacto</a>
            </nav>
         </div>
      </div>
   </header>

   <!-- Sección principal-->
   <main class="contenedor">
      <h1 class="fw-300 centrar-texto">Conoce Sobre Nosotros</h1>
      <div class="contenido-nosotros">
         <div class="imagen">
            <img src="/img/nosotros.jpg" alt="Imagen sobre nosotros">
         </div>
         <div class="texto-nosotros">
            <blockquote>25 Años de Experiencia</blockquote>
            <p>Nullam augue lacus, accumsan id efficitur ut, congue volutpat nibh. Curabitur fringilla eros a dui consectetur, porttitor finibus lectus porttitor. Donec dictum ut lectus non aliquam. Mauris aliquet ante fermentum lacus aliquam pulvinar. In consequat leo nunc. In hac habitasse platea dictumst. Donec sed dolor eu est condimentum porta. Nunc metus lacus, pharetra a sollicitudin ut, hendrerit iaculis ipsum. Curabitur ac arcu orci. Morbi venenatis rhoncus malesuada. Sed tristique metus neque, eu interdum nulla imperdiet fermentum.</p>
            <p>Nullam laoreet felis in eros maximus venenatis. Quisque at porta dui, in faucibus neque. Cras ultricies pellentesque diam vel venenatis. Sed bibendum egestas mattis.</p>
         </div>
      </div>
   </main>

   <!-- Sección Más sobre nosotros -->
   <section class="contenedor seccion">
      <h2 class="fw-300 centrar-texto">Más Sobre Nosotros</h2>
      <div class="iconos-nosotros">
         <div class="icono">
            <img src="/img/icono1.svg" alt="Icono de seguridad">
            <h3>Seguridad</h3>
            <p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta.</p>
         </div>
         <div class="icono">
            <img src="/img/icono2.svg" alt="Icono de mejor precio">
            <h3>El Mejor Precio</h3>
            <p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta.</p>
         </div>
         <div class="icono">
            <img src="/img/icono3.svg" alt="Icono a tiempo">
            <h3>A tiempo</h3>
            <p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta.</p>
         </div>
      </div>
   </section>

   <!-- Sección de footer -->
   <footer class="site-footer seccion">
      <div class="contenedor contenedor-footer">
         <nav class="navegacion">
            <a href="/views/aboutus.html">Nosotros</a>
            <a href="/views/anuncios.html">Anuncios</a>
            <a href="/views/blog.html">Blog</a>
            <a href="/views/contact.html">Contacto</a>
         </nav>
         <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
      </div>
   </footer>
</body>
</html>