<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/img/icono.jpeg">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/styles.css">
   <title>Anuncios</title>
</head>
<body>
   <!-- Sección de encabezado -->
   <header class="site-header">
      <div class="contenedor contenido-header">
         <div class="barranav">
            <a href="/"><img src="/img/logo.svg" alt="Logotipo de Bienes Raíces"></a>
            <nav class="navegacion">
               <a href="/views/aboutus.html">Nosotros</a>
               <a href="/views/anuncios.html">Anuncios</a>
               <a href="/views/blog.html">Blog</a>
               <a href="/views/contact.html">Contacto</a>
            </nav>
         </div>
      </div>
   </header>

   <!-- Sección principal -->
   <main class="contenedor seccion contenido-centrado">
      <h1 class="fw-300 centrar-texto">Casas y Departamentos en Venta</h1>
      <div class="contenedor-anuncios">
         <div class="anuncio">
               <img src="/img/anuncio1.jpg" alt="Anuncio Casa en el Lago">
               <div class="contenido-anuncio">
                  <h3>Casa del Lago</h3>
                  <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                  <p class="precio"> $ 3.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
         <div class="anuncio">
               <img src="/img/anuncio2.jpg" alt="Anuncio Casa de Lago">
               <div class="contenido-anuncio">
                  <h3>Casa de Lujo</h3>
                  <p>Casa con diseño moderno, así como tecnología inteligente y amueblada</p>
                  <p class="precio">$ 2.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
         <div class="anuncio">
               <img src="/img/anuncio3.jpg" alt="Anuncio Casa en el Lago">
               <div class="contenido-anuncio">
                  <h3>Casa con Pileta</h3>
                  <p>Casa con pileta y acabados de lujo en la ciudad, excelente oportunidad</p>
                  <p class="precio">$ 3.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
         <div class="anuncio">
               <img src="/img/anuncio4.jpg" alt="Anuncio Casa en el Lago">
               <div class="contenido-anuncio">
                  <h3>Casa Familiar</h3>
                  <p>Casa familiar con excelente vista, acabados de lujo a un excelente precio</p>
                  <p class="precio"> $ 3.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
         <div class="anuncio">
               <img src="/img/anuncio5.jpg" alt="Anuncio Casa en el Lago">
               <div class="contenido-anuncio">
                  <h3>Casa de Lujo</h3>
                  <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                  <p class="precio"> $ 4.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
         <div class="anuncio">
               <img src="/img/anuncio6.jpg" alt="Anuncio Casa en el Lago">
               <div class="contenido-anuncio">
                  <h3>Casa del Río</h3>
                  <p>Casa en el río con excelente vista, acabados de lujo a un excelente precio</p>
                  <p class="precio"> $ 3.000.000,00</p>
                  <ul class="iconos-caracteristicas">
                     <li>
                        <img src="/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                     </li>
                     <li>
                        <img src="/img/icono_dormitorio.svg" alt="icono cuartos">
                        <p>3</p>
                     </li>
                  </ul>
                  <a href="/views/verpropiedad.html" class="btn btn-amarillo d-block">Ver Propiedad</a>
               </div>
         </div>
      </div>
   </main>

   

   

   <!-- Sección de footer -->
   <footer class="site-footer seccion">
      <div class="contenedor contenedor-footer">
         <nav class="navegacion">
            <a href="/views/aboutus.html">Nosotros</a>
            <a href="/views/anuncios.html">Anuncios</a>
            <a href="/views/blog.html">Blog</a>
            <a href="/views/contact.html">Contacto</a>
         </nav>
         <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
      </div>
   </footer>
</body>
</html>